        <section class="shelf-con"> 
            <div><img class="single-shelf" src="../public/css/svgpics/Single-Shelf-Final.png"/></div>

            <div class="recipe-card-con">

                <div class="recipe-card-card"> 
                  <img class="recipe-card" src="../public/css/svgpics/recipecardall.png">
                  <div class="recipe-text">
                      
                  </div>
                </div>
              
                <div class="recipe-card-card"> 
                  <img class="recipe-card" src="../public/css/svgpics/recipecardall.png">
                  <div class="recipe-text">

                  </div>
                </div>

                <div class="recipe-card-card"> 
                  <img class="recipe-card" src="../public/css/svgpics/recipecardall.png">
                  <div class="recipe-text">
                      
                  </div>
                </div>
            </div>
        </section>
