<button id='create-recipe-btn' class='create-recipe-btn'>Create Recipe</button>
<section class='shelf-con'>
  {{#if recipes.length}}
    {{#each recipes as |recipe|}}
      <div><img
          class='single-shelf'
          src='css/svgpics/Single-Shelf-Final.png'
        /></div>
      <div class='recipe-card-con'>
        <a href='/recipe/{{recipe.id}}'><div class='recipe-card-card'>
            <img
              id='select-recipe'
              class='recipe-card'
              src='css/svgpics/recipecardall.png'
            />
            <div class='recipe-text textall'>
              <h2>{{title}}</h2>
              <p>{{description}}</p>
            </div>
          </div></a>
      </div>

    {{/each}}
  {{else}}
  {{/if}}
</section>