<button id='create-recipe-btn' class='create-recipe-btn'>Create Recipe</button>
<section class='shelf-con'>
  <div><img
      class='single-shelf'
      src='css/svgpics/Single-Shelf-Final.png'
    /></div>
  {{#if recipes.length}}
    <div class='recipe-card-con'>
      {{#each recipes limit=3}}
        <a href='/recipe/{{this.id}}'><div class='recipe-card-card'>
            <img
              id='select-recipe'
              class='recipe-card'
              src='css/svgpics/recipecardall.png'
            />
            <div class='recipe-text textall'>
              <h2>{{this.title}}</h2>
              <p>{{this.description}}</p>
            </div>
          </div></a>
      {{/each}}
    </div>
  {{else}}
  {{/if}}

</section>