<header>
  <div class='container'>
    <nav>
      <h1 id='titleHeader' class='visible'>Foodie Central at home</h1>
      <ul>
        <li><a
            id='project1'
            href='https://phoenix-ceri.github.io/FoodieCentral/'
          >FoodieCentral</a></li>
        <li><i
            id='logout'
            class='hidden fa fa-sign-in'
            aria-hidden='true'
          ></i></li>
      </ul>
    </nav>
  </div>
</header>