<nav>
  <ul>
    <li><i class='fa fa-solid fa-house-flag'></i><a href='#'>Hub Home</a></li>
    <li><i class='fa fa-solid fa-house-heart'></i><a
        href='/all-recipes'
      >Community Kitchen</a></li>
    <li><i class='fa fa-solid fa-house-user'></i><a href='/profile'>My Kitchen</a></li>
    <li><i id='logout' class='fa fa-sign-in' aria-hidden='true'></i></li>
  </ul>
</nav>