<nav>
  <ul>
    <li><i class='fa fa-home'></i><a
        href='https://phoenix-ceri.github.io/FoodieCentral/'
      >Foodie Central</a></li>
    <li><i class='fa fa-users'></i><a href='/all-recipes'>Community Kitchen</a></li>
    <li><i class='fa fa-spoon'></i><a href='/profile'>My Kitchen</a></li>
    <li><button
        id='logout'
        class='fa fa-sign-in'
        aria-hidden='true'
      ></button></li>
  </ul>
</nav>