<section class='shelf-con'>
  <div><img
      class='single-shelf'
      src='css/svgpics/Single-Shelf-Final.png'
    /></div>
  {{#if recipes.length}}
    <div class='recipe-card-con'>
      {{#each recipes as |recipe|}}
        <div class='recipe-card-card'>
          <img
            id='select-recipe'
            class='recipe-card'
            src='css/svgpics/recipecardall.png'
          />
          <div class='recipe-text'>
            <h2>{{title}}</h2>
            <p>{{description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
  {{/if}}
  <button id='create-recipe-btn' class='create-recipe-btn'>Create Recipe</button>
</section>