/* nav bar style*/
body {
    margin: 0;
    background-image: url(./img/Home.svg);
    background-repeat: no-repeat;
    background-size: 100vw,100vh;
    font-family: "Vollkorn SC", serif;
    font-weight: 800;
    color: #e4ded5;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    font-family: "Comfortaa", cursive;
  }
  
  header {
    background: #042142;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .logo {
    float: left;
    border: 10px;
    font-size: 25px;
    color: #e4ded5;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
  }
  
  nav a {
    color: #e4ded5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav a:hover {
    color: rgb(192, 180, 165);
  }
  
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  /* end nav bar style */