:root {
    --ffsd: 0px;
    --1vw: calc((100vw - var(--sbw, 0px)) / 100);
}

@media (prefers-reduced-motion: reduce) {
    .animated {
        animation: none !important;
    }
}

@media not all and (min-resolution:.001dpcm) {
    :root {
        --ffsd: 0.5px;
    }
}

html {
    zoom: var(--rzf, 1);
    font-size: max(calc(min(var(--1vw, 1vw), 13.66px) * var(--rfso, 1)), var(--minfs, 0px));
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: calc(1rem * var(--bfso, 1));
}

body,
html,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    font-synthesis: none;
    font-kerning: none;
    font-variant-ligatures: none;
    font-feature-settings: "kern" 0, "calt" 0, "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
    font-family: unset;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricprecision;
    white-space: normal;
}

li {
    text-align: unset;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
    font-weight: 900;
    font-style: italic;
}

#verticalMenu {
    border: 12px solid #ffffff;
    padding: 0;
    margin: 0 0 0 auto;
    z-index: 2;
    font-size: 1.5rem;
    right: 0px;
    box-sizing: border-box;
    transition: all 0.35s;
    background-color: #ffffff;
    transform: translateX(400px);
    overflow: auto;
    max-width: 80vw;
    top: 0px;
    width: 400px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    position: fixed;
    height: 100%;
}

#menuToggle:checked~#verticalMenu {
    transform: translateX(0px);
}

#menuButton {
    z-index: 3;
    color: #0e1318;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuButton:hover {
    cursor: pointer;
    text-decoration-line: none;
    color: hsla(210, 26%, 7%, 1);
}

.navMenuLinkContent:hover {
    color: hsla(210, 26%, 7%, 1);
}

.navMenuLink {
    color: hsla(210, 26%, 7%, 0.7);
    list-style-type: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

#horizontalMenu>.navMenuLink {
    max-width: 148px;
}

.navMenuLinkContent {
    padding: 10px 16px;
    text-decoration-line: none;
    overflow: hidden;
    color: hsla(210, 26%, 7%, 0.7);
    white-space: nowrap;
    font-weight: 700;
    display: inline-block;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-overflow: ellipsis;
    margin-right: auto;
}

#menuToggle:checked~#menuButton {
    background-color: rgba(30, 41, 51, 45);
    z-index: 2;
    top: 0px;
    width: 100vw;
    position: fixed;
    opacity: 0.55;
    height: 100vh;
}

#menuToggle:checked~#menuButton>#menuButtonIcon {
    display: none;
}

#horizontalMenu {
    display: flex;
}

@media (max-width: 75px) {
    #horizontalMenu {
        display: none;
    }
}

@media (min-width: 76px) {

    #menuButton,
    #verticalMenu {
        display: none;
    }
}

html {
    scroll-padding-top: 50px;
}

@media (max-width: 375px) {
    #FM42Czkdts3vNF5p {
        grid-area: 2 / 2 / 3 / 3;
    }

    #WVfMBrygrJLp5gYg {
        grid-template-columns: 0 364.26666667%;
        left: -132.13333333%;
        grid-template-rows: 0 100%;
    }

    #QSIVrz8pP0EsUIu0 {
        grid-area: 4 / 2 / 12 / 8;
    }

    #XsZ5gCJejrcta2qc {
        grid-area: 2 / 3 / 8 / 5;
    }

    #cOP65IaKGVjiPrG0 {
        grid-area: 3 / 6 / 11 / 9;
    }

    #VYj1ylaUYt9wKF5Y {
        grid-area: 7 / 7 / 13 / 15;
    }

    #cPVx1Nm4bCIfpaXr {
        grid-area: 6 / 10 / 9 / 13;
    }

    #dbCYgsfmil5Eylyj {
        grid-area: 5 / 12 / 10 / 14;
    }

    #HbAqnWW1jQSn6Jlh {
        grid-area: 14 / 4 / 15 / 11;
    }

    #ZjYo77NiVl8wEKdn {
        grid-template-columns: 4.26666669rem 1.06331701rem 14.40010766rem 24.54128363rem 14.63256128rem 0 4.88081676rem 11.10864992rem 3.54494788rem 1.8315578rem 3.26787726rem 0.34741452rem 6.10328761rem 5.74484529rem 4.26666669rem;
        grid-template-rows: minmax(19.75949192rem, max-content) minmax(7.57227858rem, max-content) minmax(10.39087446rem, max-content) minmax(5.35752705rem, max-content) minmax(0.77786636rem, max-content) minmax(1.13234215rem, max-content) minmax(1.90211444rem, max-content) minmax(3.03445659rem, max-content) minmax(2.37028139rem, max-content) minmax(13.448511rem, max-content) 0 0 minmax(6.4rem, max-content) minmax(112.89476414rem, max-content) minmax(19.75949192rem, max-content);
    }

    #home {
        min-height: 59.71833435vh;
    }

    #PEmYld3Bf8YeJbDg {
        grid-area: 2 / 2 / 4 / 4;
    }

    #twP9WE8Ib2tmB50Y {
        margin-left: 0%;
        clip-path: polygon(calc(0% + 0%) calc((0 * 128.34100251rem) + 0%), calc(100% - (0.07244318% + 0%)) calc((0 * 128.34100251rem) + 0%), calc(100% - (0.07244318% + 0%)) calc(100% - ((0 * 128.34100251rem) + 0%)), calc(0% + 0%) calc(100% - ((0 * 128.34100251rem) + 0%)));
        margin-top: 0%;
        margin-bottom: 0%;
        grid-area: 3 / 3 / 5 / 5;
        margin-right: -0.0724957%;
    }

    #q8YEUU0L7tONpOwq {
        grid-template-columns: 0 0 128.34100251% 0;
        left: -14.17050125%;
        grid-template-rows: 0 0 100% 0;
    }

    #PwdNogbaj7YZppC2 {
        grid-area: 3 / 2 / 7 / 6;
    }

    #nlm1E0gHwXRyIliV {
        grid-area: 11 / 3 / 18 / 5;
    }

    #cu2RqEDPpjTpLb0z {
        grid-area: 15 / 4 / 21 / 17;
    }

    #AH8TB7ZET0xJ5Q0m {
        grid-area: 9 / 7 / 17 / 10;
    }

    #uuKrZdg3DE5niE6J {
        grid-area: 14 / 8 / 19 / 13;
    }

    #Jmc1raYMrBi4oCzP {
        grid-area: 2 / 9 / 10 / 14;
    }

    #XlVCbiYK3FUbClE2 {
        grid-area: 5 / 11 / 6 / 21;
    }

    #bKwV4K6FJZlI9mmq {
        grid-area: 12 / 12 / 16 / 18;
    }

    #YIIrf67QqLU3F7su {
        grid-area: 4 / 15 / 8 / 20;
    }

    #PMvFEdXzkpMPZpZy {
        grid-area: 13 / 16 / 20 / 19;
    }

    #ptAO8lhZrpZvXOAU {
        grid-template-columns: 4.26666667rem 0 15.74481288rem 7.34609307rem 0.18440035rem 2.77289364rem 3.29789025rem 0.18440035rem 7.10933545rem 5.54012515rem 5.13056897rem 5.31087638rem 0 7.55457496rem 0.09220017rem 11.54545298rem 1.22779819rem 10.31765478rem 0.09220017rem 8.01538891rem 4.26666668rem;
        grid-template-rows: minmax(6.4rem, max-content) minmax(0.17716435rem, max-content) 0 minmax(1.48559983rem, max-content) minmax(20.22190186rem, max-content) minmax(3.28611582rem, max-content) 0 minmax(0.04958821rem, max-content) minmax(1.32090115rem, max-content) 0 minmax(0.77382685rem, max-content) 0 minmax(0.77382685rem, max-content) minmax(2.82547726rem, max-content) minmax(6.72522059rem, max-content) minmax(0.8513829rem, max-content) minmax(14.59153675rem, max-content) 0 minmax(0.77382685rem, max-content) minmax(5.50021193rem, max-content) minmax(6.4rem, max-content);
    }

    #pjNXr9zPehuNJyvj {
        min-height: 21.04038497vh;
    }

    #TKAYqD4W9EkQi8UD {
        grid-area: 2 / 2 / 3 / 3;
    }

    #p551Rb8zqFcFRmPX {
        grid-template-columns: 0 117.36692339%;
        left: -8.68346169%;
        grid-template-rows: 0 100%;
    }

    #zFiCvLRt2Ulz6iko {
        grid-area: 4 / 2 / 15 / 15;
    }

    #dMYrDQKaAGodcMFL {
        grid-area: 7 / 3 / 14 / 5;
    }

    #eoHmHOpudjzZ2B87 {
        grid-area: 11 / 7 / 13 / 9;
    }

    #oCFjQ82aZHBTlpd2 {
        grid-area: 5 / 11 / 9 / 13;
    }

    #qlyweSQLc7RUtzxG {
        grid-area: 6 / 12 / 12 / 14;
    }

    #nYyjmsmpnAnfkOVA {
        grid-area: 3 / 4 / 8 / 6;
    }

    #JZf70GzVdrJVlu6g {
        grid-area: 2 / 8 / 10 / 10;
    }

    #KyHQFwJqBMnziSDi {
        grid-template-columns: 4.26666667rem 3.32231403rem 0.39462352rem 23.26635693rem 0.58357639rem 6.33597222rem 0 22.53372559rem 1.12725486rem 6.33597222rem 0 22.37309878rem 1.28788167rem 3.90589042rem 4.26666671rem;
        grid-template-rows: minmax(6.4rem, max-content) minmax(0.37947844rem, max-content) minmax(1.5858626rem, max-content) 0 minmax(22.23194819rem, max-content) minmax(0.67574369rem, max-content) minmax(1.11711217rem, max-content) 0 minmax(1.20638416rem, max-content) 0 minmax(24.19728923rem, max-content) 0 minmax(0.67574369rem, max-content) minmax(1.11711217rem, max-content) minmax(6.4rem, max-content);
    }

    #hMoJaIcAZM82b5Jl {
        min-height: 19.24128067vh;
    }
}

@media (min-width: 375.05px) and (max-width: 480px) {
    #FM42Czkdts3vNF5p {
        grid-area: 2 / 2 / 3 / 3;
    }

    #WVfMBrygrJLp5gYg {
        grid-template-columns: 0 284.58333333%;
        left: -92.29166667%;
        grid-template-rows: 0 100%;
    }

    #QSIVrz8pP0EsUIu0 {
        grid-area: 4 / 2 / 12 / 8;
    }

    #XsZ5gCJejrcta2qc {
        grid-area: 2 / 3 / 8 / 5;
    }

    #cOP65IaKGVjiPrG0 {
        grid-area: 3 / 6 / 11 / 10;
    }

    #VYj1ylaUYt9wKF5Y {
        grid-area: 7 / 7 / 13 / 15;
    }

    #cPVx1Nm4bCIfpaXr {
        grid-area: 6 / 11 / 9 / 13;
    }

    #dbCYgsfmil5Eylyj {
        grid-area: 5 / 12 / 10 / 14;
    }

    #HbAqnWW1jQSn6Jlh {
        grid-area: 14 / 4 / 15 / 9;
    }

    #ZjYo77NiVl8wEKdn {
        grid-template-columns: 3.33333334rem 1.08501736rem 21.93328318rem 17.8028304rem 14.93118498rem 0 4.98042527rem 9.5822916rem 1.75306547rem 3.61729376rem 5.20350517rem 0.35450461rem 6.2278445rem 5.86208703rem 3.33333334rem;
        grid-template-rows: minmax(9.93810927rem, max-content) minmax(7.72681488rem, max-content) minmax(10.60293313rem, max-content) minmax(5.46686434rem, max-content) minmax(0.79374118rem, max-content) minmax(1.15545117rem, max-content) minmax(1.94093311rem, max-content) minmax(3.09638428rem, max-content) minmax(2.41865448rem, max-content) minmax(13.72297042rem, max-content) 0 0 minmax(5rem, max-content) minmax(88.19903449rem, max-content) minmax(9.93810927rem, max-content);
    }

    #home {
        min-height: 54.07208905vh;
    }

    #PEmYld3Bf8YeJbDg {
        grid-area: 2 / 2 / 4 / 4;
    }

    #twP9WE8Ib2tmB50Y {
        margin-left: 0%;
        clip-path: polygon(calc(0% + 0%) calc((0 * 125.51537246rem) + 0%), calc(100% - (0.07244318% + 0%)) calc((0 * 125.51537246rem) + 0%), calc(100% - (0.07244318% + 0%)) calc(100% - ((0 * 125.51537246rem) + 0%)), calc(0% + 0%) calc(100% - ((0 * 125.51537246rem) + 0%)));
        margin-top: 0%;
        margin-bottom: 0%;
        grid-area: 3 / 3 / 5 / 5;
        margin-right: -0.0724957%;
    }

    #q8YEUU0L7tONpOwq {
        grid-template-columns: 0 0 125.51537246% 0;
        left: -12.75768623%;
        grid-template-rows: 0 0 100% 0;
    }

    #PwdNogbaj7YZppC2 {
        grid-area: 3 / 2 / 7 / 6;
    }

    #nlm1E0gHwXRyIliV {
        grid-area: 11 / 3 / 18 / 5;
    }

    #cu2RqEDPpjTpLb0z {
        grid-area: 15 / 4 / 21 / 17;
    }

    #AH8TB7ZET0xJ5Q0m {
        grid-area: 9 / 7 / 17 / 10;
    }

    #uuKrZdg3DE5niE6J {
        grid-area: 14 / 8 / 19 / 13;
    }

    #Jmc1raYMrBi4oCzP {
        grid-area: 2 / 9 / 10 / 14;
    }

    #XlVCbiYK3FUbClE2 {
        grid-area: 5 / 11 / 6 / 21;
    }

    #bKwV4K6FJZlI9mmq {
        grid-area: 12 / 12 / 16 / 18;
    }

    #YIIrf67QqLU3F7su {
        grid-area: 4 / 15 / 8 / 20;
    }

    #PMvFEdXzkpMPZpZy {
        grid-area: 13 / 16 / 20 / 19;
    }

    #ptAO8lhZrpZvXOAU {
        grid-template-columns: 3.33333333rem 0 16.06613559rem 7.49601334rem 0.18816362rem 2.8294833rem 3.36519413rem 0.18816362rem 7.25442393rem 5.65318893rem 5.23527446rem 5.41926161rem 0 7.70874996rem 0.09408181rem 11.78107447rem 1.2528553rem 10.52821917rem 0.09408181rem 8.17896827rem 3.33333335rem;
        grid-template-rows: minmax(5rem, max-content) minmax(0.18077994rem, max-content) 0 minmax(1.51591819rem, max-content) minmax(20.63459373rem, max-content) minmax(3.35317941rem, max-content) 0 minmax(0.05060022rem, max-content) minmax(1.34785831rem, max-content) 0 minmax(0.78961924rem, max-content) 0 minmax(0.78961924rem, max-content) minmax(2.88314006rem, max-content) minmax(6.86246999rem, max-content) minmax(0.86875806rem, max-content) minmax(14.88932322rem, max-content) 0 minmax(0.78961924rem, max-content) minmax(5.61246116rem, max-content) minmax(5rem, max-content);
    }

    #pjNXr9zPehuNJyvj {
        min-height: 23.8484746vh;
    }

    #TKAYqD4W9EkQi8UD {
        grid-area: 2 / 2 / 3 / 3;
    }

    #p551Rb8zqFcFRmPX {
        grid-template-columns: 0 116.20486107%;
        left: -8.10243054%;
        grid-template-rows: 0 100%;
    }

    #zFiCvLRt2Ulz6iko {
        grid-area: 4 / 2 / 15 / 15;
    }

    #dMYrDQKaAGodcMFL {
        grid-area: 7 / 3 / 14 / 5;
    }

    #eoHmHOpudjzZ2B87 {
        grid-area: 11 / 7 / 13 / 9;
    }

    #oCFjQ82aZHBTlpd2 {
        grid-area: 5 / 11 / 9 / 13;
    }

    #qlyweSQLc7RUtzxG {
        grid-area: 6 / 12 / 12 / 14;
    }

    #nYyjmsmpnAnfkOVA {
        grid-area: 3 / 4 / 8 / 6;
    }

    #JZf70GzVdrJVlu6g {
        grid-area: 2 / 8 / 10 / 10;
    }

    #KyHQFwJqBMnziSDi {
        grid-template-columns: 3.33333333rem 3.39011636rem 0.40267706rem 23.74118055rem 0.59548611rem 6.46527778rem 0 22.99359755rem 1.15026006rem 6.46527778rem 0 22.82969263rem 1.31416497rem 3.98560247rem 3.33333336rem;
        grid-template-rows: minmax(5.53060831rem, max-content) minmax(0.3872229rem, max-content) minmax(1.61822714rem, max-content) 0 minmax(22.68566142rem, max-content) minmax(0.68953438rem, max-content) minmax(1.13991038rem, max-content) 0 minmax(1.23100424rem, max-content) 0 minmax(24.69111146rem, max-content) 0 minmax(0.68953438rem, max-content) minmax(1.13991038rem, max-content) minmax(5.53060831rem, max-content);
    }

    #hMoJaIcAZM82b5Jl {
        min-height: 22.07943635vh;
    }
}

@media (min-width: 480.05px) and (max-width: 768px) {
    #FM42Czkdts3vNF5p {
        grid-area: 2 / 2 / 3 / 3;
    }

    #WVfMBrygrJLp5gYg {
        grid-template-columns: 0 202.25195498%;
        left: -51.12597749%;
        grid-template-rows: 0 100%;
    }

    #QSIVrz8pP0EsUIu0 {
        grid-area: 4 / 2 / 12 / 8;
    }

    #XsZ5gCJejrcta2qc {
        grid-area: 2 / 3 / 8 / 5;
    }

    #cOP65IaKGVjiPrG0 {
        grid-area: 3 / 6 / 11 / 10;
    }

    #VYj1ylaUYt9wKF5Y {
        grid-area: 7 / 7 / 13 / 15;
    }

    #cPVx1Nm4bCIfpaXr {
        grid-area: 6 / 11 / 9 / 13;
    }

    #dbCYgsfmil5Eylyj {
        grid-area: 5 / 12 / 10 / 14;
    }

    #HbAqnWW1jQSn6Jlh {
        grid-area: 14 / 4 / 15 / 9;
    }

    #ZjYo77NiVl8wEKdn {
        grid-template-columns: 4.16666667rem 1.06564205rem 29.98746246rem 9.03907767rem 14.66455668rem 0 4.89148911rem 0.9653342rem 10.16760578rem 3.55269923rem 5.11058543rem 0.34817417rem 6.11663299rem 5.7574069rem 4.16666667rem;
        grid-template-rows: minmax(4.16666667rem, max-content) minmax(7.58883604rem, max-content) minmax(10.41359504rem, max-content) minmax(5.36924176rem, max-content) minmax(0.77956723rem, max-content) minmax(1.13481812rem, max-content) minmax(1.90627359rem, max-content) minmax(3.0410917rem, max-content) minmax(2.37546422rem, max-content) minmax(13.47791737rem, max-content) 0 0 minmax(4.16666667rem, max-content) minmax(55.12439655rem, max-content) minmax(4.16666667rem, max-content);
    }

    #home {
        min-height: 46.18588871vh;
    }

    #PEmYld3Bf8YeJbDg {
        grid-area: 2 / 2 / 4 / 4;
    }

    #twP9WE8Ib2tmB50Y {
        margin-left: 0%;
        clip-path: polygon(calc(0% + 0%) calc((0 * 121.52681952rem) + 0%), calc(100% - (0.07244318% + 0%)) calc((0 * 121.52681952rem) + 0%), calc(100% - (0.07244318% + 0%)) calc(100% - ((0 * 121.52681952rem) + 0%)), calc(0% + 0%) calc(100% - ((0 * 121.52681952rem) + 0%)));
        margin-top: 0%;
        margin-bottom: 0%;
        grid-area: 3 / 3 / 5 / 5;
        margin-right: -0.0724957%;
    }

    #q8YEUU0L7tONpOwq {
        grid-template-columns: 0 0 121.52681952% 0;
        left: -10.76340976%;
        grid-template-rows: 0 0 100% 0;
    }

    #PwdNogbaj7YZppC2 {
        grid-area: 3 / 2 / 7 / 6;
    }

    #nlm1E0gHwXRyIliV {
        grid-area: 11 / 3 / 18 / 5;
    }

    #cu2RqEDPpjTpLb0z {
        grid-area: 15 / 4 / 21 / 17;
    }

    #AH8TB7ZET0xJ5Q0m {
        grid-area: 9 / 7 / 17 / 10;
    }

    #uuKrZdg3DE5niE6J {
        grid-area: 14 / 8 / 19 / 13;
    }

    #Jmc1raYMrBi4oCzP {
        grid-area: 2 / 9 / 10 / 14;
    }

    #XlVCbiYK3FUbClE2 {
        grid-area: 5 / 11 / 6 / 21;
    }

    #bKwV4K6FJZlI9mmq {
        grid-area: 12 / 12 / 16 / 18;
    }

    #YIIrf67QqLU3F7su {
        grid-area: 4 / 15 / 8 / 20;
    }

    #PMvFEdXzkpMPZpZy {
        grid-area: 13 / 16 / 20 / 19;
    }

    #ptAO8lhZrpZvXOAU {
        grid-template-columns: 4.16666667rem 0 15.77924032rem 7.36215596rem 0.18480355rem 2.77895682rem 3.30510138rem 0.18480355rem 7.12488064rem 5.55223913rem 5.14178742rem 5.32248908rem 0 7.57109371rem 0.09240178rem 11.57069814rem 1.23048288rem 10.34021525rem 0.09240178rem 8.03291527rem 4.16666667rem;
        grid-template-rows: minmax(4.41955214rem, max-content) minmax(0.17755173rem, max-content) 0 minmax(1.48884822rem, max-content) minmax(20.26611885rem, max-content) minmax(3.2933012rem, max-content) 0 minmax(0.04969664rem, max-content) minmax(1.32378942rem, max-content) 0 minmax(0.7755189rem, max-content) 0 minmax(0.7755189rem, max-content) minmax(2.83165541rem, max-content) minmax(6.73992589rem, max-content) minmax(0.85324453rem, max-content) minmax(14.62344245rem, max-content) 0 minmax(0.7755189rem, max-content) minmax(5.51223864rem, max-content) minmax(4.41955214rem, max-content);
    }

    #pjNXr9zPehuNJyvj {
        min-height: 27.75164355vh;
    }

    #TKAYqD4W9EkQi8UD {
        grid-area: 2 / 2 / 3 / 3;
    }

    #p551Rb8zqFcFRmPX {
        grid-template-columns: 0 114.12977429%;
        left: -7.06488715%;
        grid-template-rows: 0 100%;
    }

    #zFiCvLRt2Ulz6iko {
        grid-area: 4 / 2 / 15 / 15;
    }

    #dMYrDQKaAGodcMFL {
        grid-area: 7 / 3 / 14 / 5;
    }

    #eoHmHOpudjzZ2B87 {
        grid-area: 11 / 7 / 13 / 9;
    }

    #oCFjQ82aZHBTlpd2 {
        grid-area: 5 / 11 / 9 / 13;
    }

    #qlyweSQLc7RUtzxG {
        grid-area: 6 / 12 / 12 / 14;
    }

    #nYyjmsmpnAnfkOVA {
        grid-area: 3 / 4 / 8 / 6;
    }

    #JZf70GzVdrJVlu6g {
        grid-area: 2 / 8 / 10 / 10;
    }

    #KyHQFwJqBMnziSDi {
        grid-template-columns: 4.16666667rem 3.32957856rem 0.3954864rem 23.3172309rem 0.58485243rem 6.34982639rem 0 22.58299759rem 1.1297197rem 6.34982639rem 0 22.42201955rem 1.29069774rem 3.91443099rem 4.16666668rem;
        grid-template-rows: minmax(5.43184745rem, max-content) minmax(0.3803082rem, max-content) minmax(1.58933023rem, max-content) 0 minmax(22.28056033rem, max-content) minmax(0.67722127rem, max-content) minmax(1.11955484rem, max-content) 0 minmax(1.20902203rem, max-content) 0 minmax(24.25019876rem, max-content) 0 minmax(0.67722127rem, max-content) minmax(1.11955484rem, max-content) minmax(5.43184745rem, max-content);
    }

    #hMoJaIcAZM82b5Jl {
        min-height: 26.06246775vh;
    }
}

@media (min-width: 768.05px) and (max-width: 1024px) {
    #FM42Czkdts3vNF5p {
        grid-area: 2 / 2 / 3 / 3;
    }

    #WVfMBrygrJLp5gYg {
        grid-template-columns: 0 174.04499455%;
        left: -37.02249727%;
        grid-template-rows: 0 100%;
    }

    #QSIVrz8pP0EsUIu0 {
        grid-area: 4 / 2 / 12 / 9;
    }

    #XsZ5gCJejrcta2qc {
        grid-area: 2 / 3 / 8 / 5;
    }

    #cOP65IaKGVjiPrG0 {
        grid-area: 3 / 6 / 11 / 10;
    }

    #VYj1ylaUYt9wKF5Y {
        grid-area: 7 / 7 / 13 / 15;
    }

    #cPVx1Nm4bCIfpaXr {
        grid-area: 6 / 11 / 9 / 13;
    }

    #dbCYgsfmil5Eylyj {
        grid-area: 5 / 12 / 10 / 14;
    }

    #HbAqnWW1jQSn6Jlh {
        grid-area: 14 / 4 / 15 / 8;
    }

    #ZjYo77NiVl8wEKdn {
        grid-template-columns: 3.125rem 1.08986119rem 34.69996719rem 5.21353975rem 14.99784206rem 0 1.95896143rem 3.04369788rem 11.38596134rem 3.63344239rem 5.2267351rem 0.35608722rem 6.25564738rem 5.88825706rem 3.125rem;
        grid-template-rows: minmax(3.125rem, max-content) minmax(7.76130959rem, max-content) minmax(10.65026765rem, max-content) minmax(5.49126999rem, max-content) minmax(0.79728467rem, max-content) minmax(1.16060944rem, max-content) minmax(1.94959799rem, max-content) minmax(3.11020742rem, max-content) minmax(2.42945204rem, max-content) minmax(13.78423368rem, max-content) 0 0 minmax(3.125rem, max-content) minmax(41.34329741rem, max-content) minmax(3.125rem, max-content);
    }

    #home {
        min-height: 41.93275102vh;
    }

    #PEmYld3Bf8YeJbDg {
        grid-area: 2 / 2 / 4 / 4;
    }

    #twP9WE8Ib2tmB50Y {
        margin-left: 0%;
        clip-path: polygon(calc(0% + 0%) calc((0 * 124.28879267rem) + 0%), calc(100% - (0.07244318% + 0%)) calc((0 * 124.28879267rem) + 0%), calc(100% - (0.07244318% + 0%)) calc(100% - ((0 * 124.28879267rem) + 0%)), calc(0% + 0%) calc(100% - ((0 * 124.28879267rem) + 0%)));
        margin-top: 0%;
        margin-bottom: 0%;
        grid-area: 3 / 3 / 5 / 5;
        margin-right: -0.0724957%;
    }

    #q8YEUU0L7tONpOwq {
        grid-template-columns: 0 0 124.28879267% 0;
        left: -12.14439633%;
        grid-template-rows: 0 0 100% 0;
    }

    #PwdNogbaj7YZppC2 {
        grid-area: 3 / 2 / 7 / 6;
    }

    #nlm1E0gHwXRyIliV {
        grid-area: 11 / 3 / 18 / 5;
    }

    #cu2RqEDPpjTpLb0z {
        grid-area: 15 / 4 / 21 / 17;
    }

    #AH8TB7ZET0xJ5Q0m {
        grid-area: 9 / 7 / 17 / 10;
    }

    #uuKrZdg3DE5niE6J {
        grid-area: 14 / 8 / 19 / 13;
    }

    #Jmc1raYMrBi4oCzP {
        grid-area: 2 / 9 / 10 / 14;
    }

    #XlVCbiYK3FUbClE2 {
        grid-area: 5 / 11 / 6 / 21;
    }

    #bKwV4K6FJZlI9mmq {
        grid-area: 12 / 12 / 16 / 18;
    }

    #YIIrf67QqLU3F7su {
        grid-area: 4 / 15 / 8 / 20;
    }

    #PMvFEdXzkpMPZpZy {
        grid-area: 13 / 16 / 20 / 19;
    }

    #ptAO8lhZrpZvXOAU {
        grid-template-columns: 3.125rem 0 16.13785941rem 7.52947768rem 0.18900363rem 2.84211493rem 3.38021732rem 0.18900363rem 7.28680975rem 5.67842638rem 5.25864622rem 5.44345474rem 0 7.74316402rem 0.09450182rem 11.83366855rem 1.2584484rem 10.57522015rem 0.09450182rem 8.21548152rem 3.12500002rem;
        grid-template-rows: minmax(4.5199965rem, max-content) minmax(0.181587rem, max-content) 0 minmax(1.52268568rem, max-content) minmax(20.72671246rem, max-content) minmax(3.36814896rem, max-content) 0 minmax(0.05082611rem, max-content) minmax(1.35387554rem, max-content) 0 minmax(0.79314432rem, max-content) 0 minmax(0.79314432rem, max-content) minmax(2.89601122rem, max-content) minmax(6.89310602rem, max-content) minmax(0.87263645rem, max-content) minmax(14.95579341rem, max-content) 0 minmax(0.79314432rem, max-content) minmax(5.63751679rem, max-content) minmax(4.5199965rem, max-content);
    }

    #pjNXr9zPehuNJyvj {
        min-height: 29.94496344vh;
    }

    #TKAYqD4W9EkQi8UD {
        grid-area: 2 / 2 / 3 / 3;
    }

    #p551Rb8zqFcFRmPX {
        grid-template-columns: 0 116.72363281%;
        left: -8.36181641%;
        grid-template-rows: 0 100%;
    }

    #zFiCvLRt2Ulz6iko {
        grid-area: 4 / 2 / 15 / 15;
    }

    #dMYrDQKaAGodcMFL {
        grid-area: 7 / 3 / 14 / 5;
    }

    #eoHmHOpudjzZ2B87 {
        grid-area: 11 / 7 / 13 / 9;
    }

    #oCFjQ82aZHBTlpd2 {
        grid-area: 5 / 11 / 9 / 13;
    }

    #qlyweSQLc7RUtzxG {
        grid-area: 6 / 12 / 12 / 14;
    }

    #nYyjmsmpnAnfkOVA {
        grid-area: 3 / 4 / 8 / 6;
    }

    #JZf70GzVdrJVlu6g {
        grid-area: 2 / 8 / 10 / 10;
    }

    #KyHQFwJqBMnziSDi {
        grid-template-columns: 3.125rem 3.4052508rem 0.40447472rem 23.84716797rem 0.59814453rem 6.49414063rem 0 23.09624754rem 1.15539515rem 6.49414062rem 0 22.93161091rem 1.32003178rem 4.00339534rem 3.125rem;
        grid-template-rows: minmax(5.55529853rem, max-content) minmax(0.38895157rem, max-content) minmax(1.62545137rem, max-content) 0 minmax(22.7869367rem, max-content) minmax(0.69261266rem, max-content) minmax(1.14499927rem, max-content) 0 minmax(1.2364998rem, max-content) 0 minmax(24.80133964rem, max-content) 0 minmax(0.69261266rem, max-content) minmax(1.14499927rem, max-content) minmax(5.55529853rem, max-content);
    }

    #hMoJaIcAZM82b5Jl {
        min-height: 28.12228554vh;
    }
}

@media (min-width: 1024.05px) {
    #FM42Czkdts3vNF5p {
        grid-area: 2 / 2 / 3 / 3;
    }

    #WVfMBrygrJLp5gYg {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
    }

    #QSIVrz8pP0EsUIu0 {
        grid-area: 5 / 2 / 14 / 7;
    }

    #XsZ5gCJejrcta2qc {
        grid-area: 2 / 3 / 9 / 4;
    }

    #cOP65IaKGVjiPrG0 {
        grid-area: 4 / 5 / 13 / 8;
    }

    #VYj1ylaUYt9wKF5Y {
        grid-area: 8 / 6 / 15 / 13;
    }

    #cPVx1Nm4bCIfpaXr {
        grid-area: 7 / 9 / 10 / 11;
    }

    #dbCYgsfmil5Eylyj {
        grid-area: 6 / 10 / 11 / 12;
    }

    #HbAqnWW1jQSn6Jlh {
        grid-area: 3 / 14 / 12 / 15;
    }

    #ZjYo77NiVl8wEKdn {
        grid-template-columns: 2.28940021rem 0.87397887rem 32.00734375rem 12.02703353rem 0 4.01172056rem 9.13060281rem 2.91372141rem 4.19141088rem 0.28555261rem 5.01651374rem 4.72189698rem 4.14495525rem 16.61964237rem 1.76622703rem;
        grid-template-rows: minmax(8.05549611rem, max-content) minmax(5.62461328rem, max-content) minmax(0.59931749rem, max-content) minmax(8.54063709rem, max-content) minmax(4.40354606rem, max-content) minmax(0.63935661rem, max-content) minmax(0.93071314rem, max-content) minmax(1.56341694rem, max-content) minmax(2.49413008rem, max-content) minmax(1.94822035rem, max-content) minmax(9.87300232rem, max-content) minmax(1.18081729rem, max-content) 0 0 minmax(10.36928083rem, max-content);
    }

    #home {
        min-height: 33.33333333vh;
    }

    #PEmYld3Bf8YeJbDg {
        grid-area: 2 / 2 / 4 / 4;
    }

    #twP9WE8Ib2tmB50Y {
        margin-left: 0%;
        clip-path: polygon(calc(0% + 0%) calc((0 * 100rem) + 0%), calc(100% - (0.07244318% + 0%)) calc((0 * 100rem) + 0%), calc(100% - (0.07244318% + 0%)) calc(100% - ((0 * 100rem) + 0%)), calc(0% + 0%) calc(100% - ((0 * 100rem) + 0%)));
        margin-top: 0%;
        margin-bottom: 0%;
        grid-area: 3 / 3 / 5 / 5;
        margin-right: -0.0724957%;
    }

    #q8YEUU0L7tONpOwq {
        grid-template-columns: 0 0 100% 0;
        grid-template-rows: 0 0 100% 0;
    }

    #PwdNogbaj7YZppC2 {
        grid-area: 3 / 2 / 7 / 6;
    }

    #nlm1E0gHwXRyIliV {
        grid-area: 11 / 3 / 18 / 5;
    }

    #cu2RqEDPpjTpLb0z {
        grid-area: 15 / 4 / 21 / 17;
    }

    #AH8TB7ZET0xJ5Q0m {
        grid-area: 9 / 7 / 17 / 10;
    }

    #uuKrZdg3DE5niE6J {
        grid-area: 14 / 8 / 19 / 13;
    }

    #Jmc1raYMrBi4oCzP {
        grid-area: 2 / 9 / 10 / 14;
    }

    #XlVCbiYK3FUbClE2 {
        grid-area: 5 / 11 / 6 / 21;
    }

    #bKwV4K6FJZlI9mmq {
        grid-area: 12 / 12 / 16 / 18;
    }

    #YIIrf67QqLU3F7su {
        grid-area: 4 / 15 / 8 / 20;
    }

    #PMvFEdXzkpMPZpZy {
        grid-area: 13 / 16 / 20 / 19;
    }

    #ptAO8lhZrpZvXOAU {
        grid-template-columns: 15.86759245rem 0 12.98416299rem 6.05805038rem 0.15206812rem 2.2867025rem 2.71964772rem 0.15206812rem 5.86280516rem 4.56873565rem 4.23098987rem 4.37968269rem 0 6.22997767rem 0.07603406rem 9.52110669rem 1.01251961rem 8.50858707rem 0.07603406rem 6.60999383rem 8.70324136rem;
        grid-template-rows: minmax(4.61727146rem, max-content) minmax(0.14610086rem, max-content) 0 minmax(1.22511905rem, max-content) minmax(16.67625215rem, max-content) minmax(2.70993779rem, max-content) 0 minmax(0.04089356rem, max-content) minmax(1.08929817rem, max-content) 0 minmax(0.63814629rem, max-content) 0 minmax(0.63814629rem, max-content) minmax(2.33006626rem, max-content) minmax(5.54603989rem, max-content) minmax(0.70210389rem, max-content) minmax(12.03309895rem, max-content) 0 minmax(0.63814629rem, max-content) minmax(4.5358207rem, max-content) minmax(2.65610597rem, max-content);
    }

    #pjNXr9zPehuNJyvj {
        min-height: 33.33333333vh;
    }

    #TKAYqD4W9EkQi8UD {
        grid-area: 2 / 2 / 3 / 3;
    }

    #p551Rb8zqFcFRmPX {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
    }

    #zFiCvLRt2Ulz6iko {
        grid-area: 4 / 2 / 15 / 15;
    }

    #dMYrDQKaAGodcMFL {
        grid-area: 7 / 3 / 14 / 5;
    }

    #eoHmHOpudjzZ2B87 {
        grid-area: 11 / 7 / 13 / 9;
    }

    #oCFjQ82aZHBTlpd2 {
        grid-area: 5 / 11 / 9 / 13;
    }

    #qlyweSQLc7RUtzxG {
        grid-area: 6 / 12 / 12 / 14;
    }

    #nYyjmsmpnAnfkOVA {
        grid-area: 3 / 4 / 8 / 6;
    }

    #JZf70GzVdrJVlu6g {
        grid-area: 2 / 8 / 10 / 10;
    }

    #KyHQFwJqBMnziSDi {
        grid-template-columns: 9.84103744rem 2.91736191rem 0.34652342rem 20.43045388rem 0.5124451rem 5.5636896rem 0 19.78712193rem 0.98985537rem 5.5636896rem 0 19.64607369rem 1.13090361rem 3.42980701rem 9.84103744rem;
        grid-template-rows: minmax(6.86335763rem, max-content) minmax(0.33322435rem, max-content) minmax(1.39256407rem, max-content) 0 minmax(19.52212774rem, max-content) minmax(0.59337826rem, max-content) minmax(0.98094897rem, max-content) 0 minmax(1.05933972rem, max-content) 0 minmax(21.24791616rem, max-content) 0 minmax(0.59337826rem, max-content) minmax(0.98094897rem, max-content) minmax(2.65536347rem, max-content);
    }

    #hMoJaIcAZM82b5Jl {
        min-height: 33.33333333vh;
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(226, 226, 226, 0.05);
    }

    50% {
        background-color: rgba(226, 226, 226, 0.1);
    }

    100% {
        background-color: rgba(226, 226, 226, 0.05);
    }
}