{{>navBar}}
        <div class="container">
          <h1 class="logo">FoodieCentral At Home</h1>
        </div>
        <div>
          {{>allRecipes-details}}
   

  <script src="./js/recipe.js"></script>
 
