
        <div class="container">
          <h1 class="logo">FoodieCentral At Home</h1>
  
          <nav>
            <ul>
              <li><a href="#">Hub Home</a></li>
              <li><a href="#">Community Kitchen</a></li>
              <li><a href="#">My Kitchen</a></li>
              <li><i id="logout" class="fa fa-sign-in" aria-hidden="true"></i></li>
            </ul>
          </nav>
        </div>
        <div>
          {{>allrecipes-details}}
   

  <script src="./js/recipe.js"></script>

