      <header>
        <div class="container">
          <h1 class="logo">FoodieCentral At Home</h1>
  
          <nav>
            <ul>
              <li><a href="#">Master Kitchen</a></li>
              <li><a href="#">Others Kitchens</a></li>
              <li><a href="#">My Kitchen</a></li>
              <li><i class="fa fa-sign-in" aria-hidden="true"></i></li>
            </ul>
          </nav>
        </div>
      </header>
<section>
<div class="center">
  <div class="reccontainer">
    <form>
      <input type="hidden" name="_captcha" value="false" />
      <div class="row">
        <div class="col-25">
          <label for="name">Recipe Title</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="title"
            name="title"
            placeholder="EX. My Yummy Dish"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="name">Username</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="EX.Robert Even"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Discription">Recipe Description</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="Discription"
            name="Discription"
            placeholder="A brief description of your dish,serving size,prep time,and cook time"
            style="height: 100px;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Ingredients">Ingredients</label>
        </div>
        <div class="col-75">
          <textarea
            id="Ingredients"
            name="Ingredients"
            placeholder="EX. 1tbs salt, 1tps baking soda"
            style="height: 200px"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Instructions">Instructions</label>
        </div>
        <div class="col-75">
          <textarea
            id="Instructions"
            name="Instructions"
            placeholder="Ex. Whip for 30 seconds on high"
            style="height: 200px"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
        </section>
        <script src="../public/js/recipe.js"> </script>