
<div>
  <div class='container'>
    <nav>
      <ul>
        <li><a href='#'>Hub Home</a></li>
        <li><a href='#'>Others Kitchens</a></li>
        <li><a href='#'>My Kitchen</a></li>
        <li><i id='logout' class='fa fa-sign-in' aria-hidden='true'></i></li>
      </ul>
    </nav>
  </div>
</div>
<section>
</br>
<div id="recipe-container-main">
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user_name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Recipe:</h3>

    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="project-name">Recipe name:</label>
        <input class="form-input" type="text" id="recipe-name" name="project-name" />
      </div>
            <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>

      <div class="form-group">
        <label for="project-funding">Ingredients:</label>
        <input class="form-input" type="number" id="recipe-ingredients" name="project-funding" />
      </div>
            <div class="form-group">
        <label for="project-funding">Instructions:</label>
        <input class="form-input" type="number" id="recipe-instructions" name="project-funding" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

<script src='/js/recipe.js'> </script>

