<div class="centerboi">
      <form class="form login-form">

        <div class="login">
          <h3>Login!</h3>
          <div>
          <label for="username-login"><b>Username</b></label>
          <input type="text" name="name" placeholder="Enter Username" id="username-login"/>
          </div>
      <br/>
<div>
          <label for="password-login"><b>Password</b></label>
          <input type="password" name="name" placeholder="Enter Password"  id="password-login"/>
        </div>
          <button type="submit" id="login-btn">Login</button>
          <br/>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
          </form>

        </div>
    <form class="form signup-form">

        <div class="signup">
          <h3>Sign Up!</h3>
          <div>
          <label for="signup-username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username"  id="signup-username-input" >
          </div>
      <br/>
      <div>
          <label for="signup-password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" id="signup-password-input" >
        </div>
          <button type="submit" id="signup-btn">SignUp</button>
        </div>
        </form>
        </div>
        <form action=""></form>
        
        <script src="./js/login.js" ></script>