
      <header>
        <div class="container">

          <nav>
            <ul>
              <li><a href="#">Hub Home</a></li>
              <li><a href="#">Others Kitchens</a></li>
              <li><a href="#">My Kitchen</a></li>
              <li><i class="fa fa-sign-in" aria-hidden="true"></i></li>
            </ul>
          <h1 class="logo">FoodieCentral At Home</h1>
  
          </nav>
        </div>
      </header>


    <section class="body-con">

        <section class="shelf-con"> 

            {{#if recipes.length}}
            <div class="recipe-card-con">
              {{#each recipes as |recipe|}}
                <div class="recipe-card-card"> 
                  <img class="recipe-card" src="/css/svgpics/recipecardall.png">
                  <div class="recipe-text">
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                  </div>
                </div>
                {{/each}}
            <div><img class="single-shelf" src="/css/svgpics/Single-Shelf-Final.png"/></div>
            </div>
            {{/if}}
        </section>
        {{!-- This is the implemention of the new shelf being generated --}}
        {{!-- <section>{{> allrecipes-part}}</section> --}}
    </section>
  <script src="./js/recipe.js"></script>