
      <div id="profile-header">
        <div class="container">
          {{>navBar}}
        </div>
      </div>
      <h1 class="logo">FoodieCentral At Home</h1>
<div>
{{>profile-details}}
</div>



