
      <div id="profile-header">
        <div class="container">
          <nav>
            <ul>
              <li><a href="#">Community Kitchen</a></li>
              <li><a href="#">My Kitchen</a></li>
              <li><a href="#"> CREATE A RECIPE</a></li>
              <li><i id="logout" class="fa fa-sign-in" aria-hidden="true">   logout</i></li>
            </ul>
          <h1 class="logo">FoodieCentral At Home</h1>
          </nav>
        </div>
      </div>
<div>
{{>profile-details}}
</div>

  <script src="./js/recipe.js"></script>


