<section>
    <div class="centerboi">
  <div class="recipe" id="recipe">
<!-- box? -->
<h1 id="rTitle">{{title}}</h1>
<h3 id="rUser">From the Kitchen of {{user_name}}</h3>
<p id="rIng">Ingredients: {{ingredients}}</p>
<i id="rInst">Instructions: {{instructions}}</i>
  </div>

  {{!-- Button for user to save this recipe to their recipe box, future development? --}}
  {{!-- <p>
    <button class="btn btn-primary">Save This Recipe to your Kitchen!</button>
  </p> --}}
</div>
</section>

<script src="./js/recipe.js"></script>