
{{>navBar}}
  <section>
    <div class='centerboi'>
      <div class='recipe' id='recipe'>
        <!-- box? -->
        <h1 id='rTitle'>{{title}}</h1>
        <p id='rIng'>{{ingredients}}</p>
        <p id='rInst'>{{instructions}}</p>
      </div>
    </div>
  </section>
</body>
<script src='/js/recipe.js'></script>
<script src="/js/selectRecipe.js"></script>

