
{{>navBar}}
  <section>
    <div class='centerboi'>
      <div class='recipe' id='recipe'>
        <!-- box? -->
        <h1 id='rTitle'>{{title}}</h1>
        <h3 id='rUser'>{{user_name}}</h3>
        <p id='rIng'>{{ingredients}}</p>
        <i id='rInst'>{{instructions}}</i>
      </div>
    </div>
  </section>
</body>
<script src='./js/recipe.js'></script>
<script src="./js/selectRecipe.js"></script>

