/* nav bar style*/
body {
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #2c817b;
    font-family: 'Patrick Hand', cursive;
    font-weight: 800;
    color: #2c817b;
    
  }
  .container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Patrick Hand', cursive;

  }

  nav {
    width:100%;
  }
  
  nav ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  /* end nav bar style */

  /* recipy card start */
.body-con{
    padding: 2%;
}

.shelf-con{
    display: flex;
    flex-direction: column-reverse;
}

.single-shelf{
    width: 100%;

}

.recipe-card-con{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: -2rem;
}
/*styling for the container and image placement of recpie card*/
.recipe-card-card {
  position: relative;
}

.recipe-card{
    /* margin: 0 auto -5% auto; */
    width: 70%;
    position: relative;
    text-align: center;
    top: 0;
    left: 5rem;
    z-index: 7;
}
/*styling for recipe card text*/
.recipe-text{
    position: absolute;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Patrick Hand', cursive;
    font-weight: bolder;
    letter-spacing: 1.5px;
    z-index: 8;
    width: 295px;
    left: 8rem;
    color:#ed335c;
    top: 4rem;
    font-size:medium;
    max-width: 11rem;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
}
.recipe-text h2 {
  font-size: 1.5rem;
}
.recipe-text p {
  font-size: 1rem;
}
  /* rec card end */

.form-input {
  position: relative;
  max-width: 500px;
  margin:.4rem;
  display:flex;
}
.form-group {
align-items:flex-start;
}

/* all recipes styling */
.textall {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1.8rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}
.textall h2{

  font-size: 1.2rem;
  width:100%;
  height: 70%;
  margin-bottom: -.3rem;
}
.textall p {
  font-size: 1rem;
  width:100%;
  height: 70%;
}
@media screen and (max-width: 550px) {
  .recipe-text h2 {
    font-size: 1.2rem;
  }
  .recipe-text p {
    font-size:1rem ;
  }
  .textall h2 {
    font-size: 1.2rem;
  }
  .textall p {
    font-size:1rem ;
  }
}
@media screen and (max-width: 416px) {
  .recipe-text h2 {
    font-size: 1rem;
  }
  .recipe-text p {
    font-size:.8rem ;
  }
  .textall h2 {
    font-size: 1.2rem;
  }
  .textall p {
    font-size:1rem ;
  }
}
@media screen and (max-width: 1300px) {
  .textall{
    margin-left: -.5rem;
  }
  .textall h2 {
    width:70%;
    height: 70%;
  }
  .textall p {
    width:80%;
    height: 70%;
  }  
}
@media screen and (max-width: 1200px) {
  .textall{
    margin-left: -2rem;
    position: absolute;
    flex-wrap: wrap;
  }
  .textall h2 {
    width:70%;
    height: 70%;
  }
  .textall p {
    width:80%;
    height: 70%;
  }  
}
@media screen and (max-width: 1035px) {
  .textall h2{
    margin-left:-2rem;
  }
  .textall p{
  visibility: hidden;
  }  
}
@media screen and (max-width: 900) {
  body{
    width:100%;
    height:100%;
  }
  .textall h2{
    width:50%;
    flex-wrap: wrap;
  }
  .textall p{
    visibility: none;
    } 
  .single-shelf {
    visibility: none;
  }
  .recipe-card-con{
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    height:100%;
  }
}
@media screen and (max-width:866px){
  .recipe-card-con {
    margin:-4rem
  }
  .textall {
    width: 50%;
  }
  .textall h2{
    font-size: .8rem;
    width: 100%;
    padding:0;
    flex-wrap: wrap;
  }
  .shelf-con{
    margin-top: 5rem;
  }
  .single-shelf {
    visibility: hidden;
  }
}
