/* nav bar style*/
body {
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #2c817b;
    font-family: "Vollkorn SC", serif;
    font-weight: 800;
    color: #2c817b;
    
  }
  .container {
    width: 80%;
    margin: 0 auto;
    font-family: "Comfortaa", cursive;
  }

  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  /* end nav bar style */

  /* recipy card start */
.body-con{
    padding: 2%;
}

.shelf-con{
    display: flex;
    flex-direction: column-reverse;
}

.single-shelf{
    width: 100%;

}

.recipe-card-con{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: -4rem;
}
/*styling for the container and image placement of recpie card*/
.recipe-card-card {
  position: relative;
}

.recipe-card{
    /* margin: 0 auto -5% auto; */
    width: 70%;
    position: relative;
    text-align: center;
    top: 0;
    left: 5rem;
    z-index: 7;
}
/*styling for recipe card text*/
.recipe-text{
    position: absolute;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Patrick Hand', cursive;
    font-weight: bolder;
    letter-spacing: 1.5px;
    z-index: 8;
    width: 295px;
    left: 8rem;
    color:#ed335c;
    top: 4rem;
    font-size: larger;
    max-width: 11rem;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
}
  /* rec card end */
