/* nav bar style*/
  body {
      margin: 0;
      background-image: url(./img/Home.svg);
      background-repeat: no-repeat;
      background-position-y: center;
      background-size: 100vw,100vh;
      background-color: #2c817b;
      font-family: "Vollkorn SC", serif;
      font-weight: 800;
      color: #ea6c0c;
    }
  .container {
    width: 100%;
    margin: 0 auto;
    font-family: "Comfortaa", cursive;
  }
  header {
    /* background: #042142; */
    /* background-image: url(./img/better/lin.jpeg); */
    background-color: #a8ccbc;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    padding: auto;
  }
  header::after {
    content: "";
    display: table;
    clear: both;
  }
  .right {
    align-self: right;
  }
  
  #profile-header {
    /* background: #042142; */
    background-image: url(./img/better/lin2.jpg);
    padding-bottom: 1rem;
    width: 100%;
  }
  #profile-header::after {
    content: "";
    display: table;
    clear: both;
  }
#recipe-container-main{
  background-color: rgba(255,255,255, 0.9);
  padding:2rem;
  margin:4rem 2rem 2rem;
  border-radius: 20px;
}
  .logo {
    background-image: url(./img/better/lin2.jpg);
    /* width: 100%; */
    margin-top: 0;
    text-align: left;
    border: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 25px;
    color: #ff9e42;
    padding-left: 1rem;
    animation: lightSpeedInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  .titleHeader {
    text-align: left;
  }
  nav {
    width: 100%;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: absolute;
    width: auto;
  }
  
  nav a {
    color: #ea6c0c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav a:hover {
    color:#a54602;
  }
  
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  /* end nav bar style */
  /* start of the login */
  .centerboi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 300px;
    row-gap: 100px;
    margin-top: 50px;

  }

  .hidden{
    visibility: hidden;
  }
  .login{
flex: auto;
max-width: fit-content;
background-image: url(./img/better/lin.jpg);
padding: 10px;
border:solid black 3px;
border-radius: 10px;
  }
  .login h3{
    text-align: center;
  }
  .signup{
flex: auto;
max-width: fit-content;
background-image: url(./img/better/lin.jpg);
padding: 10px;
border:solid black 3px;
border-radius: 10px;
  }
  .signup h3{
    text-align: center;
  }


/* form stuff */
.center {
  display: flex;
  justify-content: center;
}
input[type="text"],
select,
textarea {
  width: 65%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="submit"] {
  background-color: #1e3e33;
  color: white;
  padding: 2px 20px;
  border: none;
  border-radius: 4px;
  max-height: 30px;
  cursor: pointer;

}
.reccontainer {
width: 700px;
max-width: 700;
  border: 25px solid transparent;
  border-radius: 15px;
  background-color: #358570;
  padding-bottom: 40px;

}
@media screen and (max-width: 900px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.fa {
  margin-right: 1rem;
}

/* recipe page */

.recipe{
  background-image: url(./img/better/lin2.jpg);
  text-align:center;
  max-width: 700px;
  width:600px;
  height: auto;
  padding: 10px;
  border:solid 3px black;
  color:#2c817b;
}

/* this is profile-details btn  */
.create-recipe-btn{
  position: absolute;
  flex-wrap: wrap;
  width: 8rem;
  padding: .4rem;
  right: 0.6rem;
  top: 6rem;
  font-family: 'Patrick Hand', cursive;
  font-weight: bolder;
  color:#ed335c;
  letter-spacing: .2rem;
  background-color:rgba(255,255,255, 0.7);
  border-radius: 4%;
  border: #ccc solid 1px;
}

#logout {
  color:#308684;
  background-color:rgba(255,255,255, 0.7);
  border-radius: 4%;
  border: #ccc solid 1px;
}
/* selected recipe styling */
#rIng {
font-size: 1.2rem;
}
#rInst {
font-size: 1.1rem;
margin-top: 2rem;
}
@media screen and (max-width: 440px) {
  .create-recipe-btn{
    position: relative;
    width: 50%;
    top:auto;
    justify-content: center;
    margin:auto
  }
}

@media screen and (max-width: 840px) {
  .create-recipe-btn{
    position: relative;
    width: 50%;
    top:auto;
    justify-content: center;
    margin:auto
  }
}

@media screen and (max-width: 500px) {
  .create-recipe-btn{
    position: relative;
    width: 100%;
    top:auto;
    justify-content: center;
    margin-bottom:5rem;
  }
  .container2{
    align-items: center;
  }
}