/* nav bar style*/
body {
    margin: 0;
    background-image: url(../img/Home.svg);
    background-repeat: no-repeat;
    background-size: 100vw,100vh;
    background-color: #2c817b;
    font-family: "Vollkorn SC", serif;
    font-weight: 800;
    color: #2c817b;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    font-family: "Comfortaa", cursive;
  }
  
  header {
    /* background: #042142; */
    background-image: url(../img/better/2072521572419_8f6f8669-4da8-41d3-ac3e-72a5c10e2dd8.jpg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .logo {
    float: left;
    border: 10px;
    font-size: 25px;
    color: #CC5500;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
  }
  
  nav a {
    color: #CC5500;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav a:hover {
    color:#a54602;
  }
  
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  /* end nav bar style */
  /* start of the login */
  .centerboi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 300px;
    row-gap: 100px;
    margin-top: 200px;

  }
  .login{
flex: auto;
max-width: fit-content;
background-image: url(../img/better/lin.jpeg);
padding: 10px;
border:solid black 3px;
border-radius: 10px;
  }
  .login h3{
    text-align: center;
  }
  .signup{
flex: auto;
max-width: fit-content;
background-image: url(../img/better/lin.jpeg);
padding: 10px;
border:solid black 3px;
border-radius: 10px;
  }
  .signup h3{
    text-align: center;
  }