<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DTFrisk Commissions</title>
        <meta name="description" content="">
        <meta name="Author" content="Phoenix-Ceri Powell">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1 class="logo">FoodieCentral Hub</h1>
    
            <nav>
              <ul>
                <li><a href="#">Hub</a></li>
                <li><a href="#">FoodieCentral</a></li>
                <li><a href="#">FoodieCentral At Home</a></li>
                <li><i class="fa fa-sign-in" aria-hidden="true"></i></li>
              </ul>
            </nav>
          </div>
<div class="centerboi"><h1>My Socials</h1></div>
<div class="flexflex">
<div class="socflex">
    <div class="card twitter">
        <a href="https://twitter.com/dtfrisk345">
            <img src="./assets/images/icons/twitter.jpg" alt="Avatar" >
        </a>
        <div class="container">
        <h4><b>Twitter</b></h4> 
        <p>@dtfrisk345</p> 
        </div>
    </div>


    <div class="card insta">
        <a href="https://www.instagram.com/dtfrisk345/">
            <img src="./assets/images/icons/insta.jpeg" alt="Avatar" >
        </a>
        <div class="container">
        <h4><b>Instagram</b></h4> 
        <p>@dtfrisk345</p> 
        </div>
    </div>


    <div class="card e6">
    <a href="https://e621.net/posts?tags=dtfrisk345">
        <img src="./assets/images/icons/E621Logo.png" alt="Avatar" >
    </a>
        <div class="container">
        <h4><b>E621</b></h4> 
        <p>@dtfrisk345</p> 
        </div>
    </div>


    <div class="card mail">
        <a href="mailto:Dtfrisk345@gmail.com" >
            <img src="./assets/images/icons/Gmail.max-1100x1100.png" alt="gmail">
        </a>
        <div class="container">
        <h4><b>Gmail</b></h4> 
        <p>Dtfrisk345@gmail.com</p> 
        </div>
    </div>


    <div class="card discord">
        <a><img src="./assets/images/icons/discord-logo-png-7636.png" alt="Avatar" ></a>
        <div class="container">
        <h4><b>Discord</b></h4> 
        <p>DT frisk#5685</p> 
        </div>
    </div>
</div>
</div>
    
        <script src="" async defer></script>
    </body>
</html>