<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/Fifistyle.css">
        <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="container">
              <h1 class="logo">FoodieCentral Hub</h1>
      
              <nav>
                <ul>
                  <li><a href="#">Hub</a></li>
                  <li><a href="#">FoodieCentral</a></li>
                  <li><a href="#">FoodieCentral At Home</a></li>
                  <li><i class="fa fa-sign-in" aria-hidden="true"></i></li>
                </ul>
              </nav>
            </div>
        </header>
        <script src="" async defer></script>
    </body>
</html>