<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/Fifistyle.css">
    </head>
    <header>
        <div class="container">
            <h1 class="logo">FoodieCentral Hub</h1>
    
            <nav>
              <ul>
                <li><a href="#">Hub</a></li>
                <li><a href="#">FoodieCentral</a></li>
                <li><a href="#">FoodieCentral At Home</a></li>
                <li><i class="fa fa-sign-in" aria-hidden="true"></i></li>
              </ul>
            </nav>
          </div>
    </header>
<div class="centerboi">
  <div class="recipe" id="recipe">
<!-- box? -->
<h1>Title</h1>
<h3>UserName</h3>
<p>ingrednts</p>
<i>instructions</i>
  </div>
</div>


        <script src="" async defer></script>
    </body>
</html>