<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./svg.css">
        <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <header>
        <div class="container">
          <h1 class="logo">FoodieCentral At Home</h1>
  
          <nav>
            <ul>
              <li><a href="#">Master Kitchen</a></li>
              <li><a href="#">Others Kitchens</a></li>
              <li><a href="#">My Kitchen</a></li>
              <li><i class="fa fa-sign-in" aria-hidden="true"></i></li>
            </ul>
          </nav>
        </div>
      </header>


    <section class="body-con">

        <section class="shelf-con"> 
            <div><img class="single-shelf" src="../svgpics/Single-Shelf-Final.png"/></div>
            <div class="recipe-card-con">
                <article> 
                    <img class="recipe-card" src="../svgpics/recipy-Card-Final.png">
                        <div class="recipie-text">
                            sjvnsnvs
                        </div>
                </article>

                <article> <img class="recipe-card" src="../svgpics/recipy-Card-Final.png">
                    
                </article>

                <article> <img class="recipe-card" src="../svgpics/recipy-Card-Final.png">
                    
                </article>
            </div>
        </section>

    </section>

        <script src="" async defer></script>
    </body>
</html>>